<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
        name="repertoire"
        label="COM_REPERTOIRE_LIST_CONFIG_LABEL"
    >
        <field
            name="show_language"
            type="radio"
            label="COM_REPERTOIRE_SHOW_LANGUAGE"
            description="COM_REPERTOIRE_SHOW_LANGUAGE_DESC"
            class="btn-group btn-group-yesno"
            default="1"
        >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field
            name="show_category"
            type="radio"
            label="COM_REPERTOIRE_SHOW_CATEGORY"
            description="COM_REPERTOIRE_SHOW_CATEGORY_DESC"
            class="btn-group btn-group-yesno"
            default="1"
        >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field
            name="show_demo"
            type="radio"
            label="COM_REPERTOIRE_SHOW_DEMO"
            description="COM_REPERTOIRE_SHOW_DEMO_DESC"
            class="btn-group btn-group-yesno"
            default="1"
        >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field 
            name="positions" 
            type="text" 
            default="100" 
            label="COM_REPERTOIRE_POSITIONS" 
            description="COM_REPERTOIRE_POSITIONS_DESC" 
            filter="integer" 
        />
        <field
            name="show_news"
            type="radio"
            label="COM_REPERTOIRE_SHOW_NEWS"
            description="COM_REPERTOIRE_SHOW_NEWS_DESC"
            class="btn-group btn-group-yesno"
            default="1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field 
            name="news" 
            type="list" 
            default="3" 
            label="COM_REPERTOIRE_NEWS" 
            description="COM_REPERTOIRE_NEWS_DESC"
        >
            <option value="1">COM_REPERTOIRE_NEWS1</option>
            <option value="2">COM_REPERTOIRE_NEWS2</option>
            <option value="3">COM_REPERTOIRE_NEWS3</option>
            <option value="4">COM_REPERTOIRE_NEWS4</option>
            <option value="5">COM_REPERTOIRE_NEWS5</option>
            <option value="6">COM_REPERTOIRE_NEWS6</option>
            <option value="7">COM_REPERTOIRE_NEWS7</option>
            <option value="8">COM_REPERTOIRE_NEWS8</option>
            <option value="9">COM_REPERTOIRE_NEWS9</option>
            <option value="10">COM_REPERTOIRE_NEWS10</option>
            <option value="11">COM_REPERTOIRE_NEWS11</option>
            <option value="12">COM_REPERTOIRE_NEWS12</option>
        </field>
    </fieldset>
    <fieldset
        name="repertoire2"
        label="COM_REPERTOIRE_PRE_TEXT"
    >
        <field 
            name="pre_text" 
            label ="COM_REPERTOIRE_PRE_TEXT" 
            description="COM_REPERTOIRE_PRE_TEXT_DESC"
            type="editor" 
            buttons="true"
            filter="JComponentHelper::filterText" 
        />
    </fieldset>
    <fieldset
        name="repertoire3"
        label="COM_REPERTOIRE_POST_TEXT"
    >
        <field 
            name="post_text" 
            label ="COM_REPERTOIRE_POST_TEXT" 
            description="COM_REPERTOIRE_POST_TEXT_DESC"
            type="editor" 
            buttons="true"
            filter="safehtml" 
        />
    </fieldset>
    <fieldset
        name="repertoire4"
        label="COM_REPERTOIRE_PASS_CONFIG_LABEL"
    >
        <field 
            name="pass_text" 
            label ="COM_REPERTOIRE_PASS_CONFIG_LABEL" 
            description="COM_REPERTOIRE_PASS_CONFIG_DESC"
            type="editor" 
            buttons="true"
            filter="safehtml" 
        />
    </fieldset>
    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            class="inputbox"
            validate="rules"
            filter="rules"
            component="com_repertoire"
            section="component"
        />
    </fieldset>
</config>